body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(
  0deg,
  #c7b299 0%,
  #9dc8ce 53%,
  #ffffff 100%
);
background-attachment: fixed;

}

a {
  color: inherit;
  text-decoration: none;
}

.PC {
  height: 400px;
  width: 450px;
}

.phone {
  height: 400px;
  width: 250px;
  padding-top: 5px;
}

.logo {
  width: 100px;
  height: auto;
  padding-top: 5px;
  cursor: pointer;
}
.header {
  color: #1C1C1C;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;

  height: 80px;

  border-radius: 20px;

  padding: 0 24px;
}
.nav {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  border-radius: 999px;
  display: flex;
  gap: 10px;
}

.nav a {
  position: relative;
  cursor: pointer;
}

.nav a::after {
  content: "";
  position: absolute;

  bottom: 0;
  inset-inline-start: 0;

  width: 100%;
  height: 2px;


  transform: scaleX(0);
  transform-origin: right;

  transition: transform 0.25s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}

#tele {

    font-size: 1.2rem;
}

#tele {
  padding: 0.5rem 1.2rem;
  border: 1px solid;
  border-radius: 999px;

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.heroContainer {
 display: grid;
 grid-template-columns: auto auto;
 padding-top: 80px;
}


.rightHero {
    direction: rtl;
    text-align: right;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
    padding: 60px 40px;
}


.leftHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.mainTitle {
    margin: 0;

    font-size: clamp(3rem, 5vw, 5.5rem);
    font-weight: 700;
    line-height: 0.95;

    letter-spacing: -2px;

    color: var(--text);
}

.subTitle {
    margin: 0;

    max-width: 600px;


    color: var(--text-secondary);
}

:root {
    --text: #111111;
    --text-secondary: #555555;
}


@media (max-width: 768px) {
    .rightHero {
        width: 100%;
        max-width: none;

        padding: 40px 24px;
    }

    .mainTitle {
        font-size: 3rem;
        letter-spacing: -1px;
    }

    .subTitle {
        font-size: 1.05rem;
    }
}
